<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>IT资产管理系统</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-table.css" rel="stylesheet">
    <link href="../css/bootstrap-duallistbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/toastr.min.css">
    <link rel="stylesheet" href="../css/help/doc.min.css">
    <link rel="stylesheet" href="../css/help/help.css">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class=" bs-docs-nav">
<div th:include="common/logo :: logo"></div>
</div>
<div class="container bs-docs-container">

    <div class="row">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                <h1 id="a" class="page-header"><a class="anchorjs-link " href="#a" aria-label="Anchor link for: dropdowns" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>功能介绍</h1>

                <p class="lead">对系统的所有的功能进行描述和解释。</p>

                <h2 id="data"><a class="anchorjs-link " href="#data" aria-label="Anchor link for: dropdowns example" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>数据浏览</h2>
                <h3 id="data-page"><a class="anchorjs-link " href="#data-page" aria-label="Anchor link for: dropdowns example" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>数据页面</h3>
                <div class="bs-callout bs-callout-info">
                    <img  alt="加载图片失败..."  src="../img/help/data-page1.png" >
                    <p>在数据页面中，主体由一个表组成。在页面上方提供搜索入口，下方提供页码信息，在表格右上方提供三个快捷按钮（分别是离线刷新，表格全屏，筛选显示的字段）</p>
                </div>
                <h3 id="data-search"><a class="anchorjs-link " href="#data-search" aria-label="Anchor link for: dropdowns example" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>搜索功能</h3>
                <div class="bs-callout bs-callout-info">
                    <h4>常规搜索</h4>
                    <img  alt="加载图片失败..." src="../img/help/search1.gif" >
                    <p>如同演示的一样，您可以搜索一个或多个，在搜索多个时仅仅需要使用<code>回车键</code>来确认您即将搜索的内容。当然，仅搜索一个结果无需按下回车，直接点击搜索即可</p>
                    <p>需要注意的是，默认搜索的是<code>设备号</code>，下面就会讲解如何搜索其他类型字段。</p>
                </div>
                <div class="bs-callout bs-callout-info">
                    <h4>其他字段搜索</h4>
                    <p>很多字段都和常规搜索类似，这里只列举搜索资产编号</p>
                    <p>与之类似的有：搜索<code>使用人工号</code>、<code>位置</code>、<code>责任人</code>、<code>资产类别</code></p>
                    <img  alt="加载图片失败..." src="../img/help/search2.gif" >
                </div>
                <div class="bs-callout bs-callout-info">
                    <h4>日期搜索</h4>
                    <img  alt="加载图片失败..." src="../img/help/search-date.gif" >
                    <p>日期搜索需要在新跳出的按钮上点击搜索。</p>
                </div>
                <div class="bs-callout bs-callout-info">
                    <h4>导出搜索结果</h4>
                    <p>在任意搜索之后，即可点击<code>导出搜索结果</code>，之后浏览器会自动为您下载一份Excel文件。</p>
                    <p>在此之前，请确认您已经以<code>管理员身份</code>登录。</p>
                </div>

                <h2 id="data-baofei"><a class="anchorjs-link " href="#data-baofei" aria-label="Anchor link for: dropdowns headers" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>转售/报废</h2>
                <p>在次级管理员或车间管理员登录后，可在数据页面点击跳转到转售/报废页面。</p>
            </div>

            <div class="bs-docs-section">
                <h2 id="data-operation"><a class="anchorjs-link " href="#data" aria-label="Anchor link for: dropdowns example" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>数据操作</h2>
                <p>数据操作都需要<code>IE管理员权限</code>，之后不再说明。</p>
                <h3 id="data-insert"><a class="anchorjs-link " href="#data-page" aria-label="Anchor link for: dropdowns example" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>数据录入</h3>
                <div class="bs-callout bs-callout-info">
                    <img  alt="加载图片失败..."  src="../img/help/data-insert.gif" >
                </div>
                <h3 id="data-modify"><a class="anchorjs-link " href="#data-modify" aria-label="Anchor link for: dropdowns alignment" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>数据修改</h3>
                <p>在IE管理员登录后，即可使用编辑功能。</p>
                <div class="bs-callout bs-callout-warning">
                    <h4>在数据浏览页面点击“编辑”即可进入编辑页面</h4>
                    <img  alt="加载图片失败..."  src="../img/help/data-modify.gif" >
                    <p>除了设备号和入厂日期，所有数据均可由IE管理员修改。</p>
                </div>
                <h3 id="data-import"><a class="anchorjs-link " href="#data-modify" aria-label="Anchor link for: dropdowns alignment" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>导入Excel数据</h3>
                <p>当有大量资产需要批量录入的时候，即可使用此功能。</p>
                <div class="bs-callout bs-callout-warning">
                    <h4>step1:下载示例模板</h4>
                    <img  alt="加载图片失败..."  src="../img/help/data-downExample.gif" >
                </div>
                <div class="bs-callout bs-callout-warning">
                    <h4>step2:使用模板添加数据</h4>
                    <img  alt="加载图片失败..."  src="../img/help/data-setExample.gif" >
                </div>
                <div class="bs-callout bs-callout-warning">
                    <h4>step3:导入数据</h4>
                    <img  alt="加载图片失败..."  src="../img/help/data-import.gif" >
                </div>
            </div>

            <div class="bs-docs-section">
                <h2 id="b" class="page-header"><a class="anchorjs-link " href="#b" aria-label="Anchor link for: dropdowns" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>问题帮助</h2>
                <h3 id="permission-normal"><a class="anchorjs-link " href="#permission-normal" aria-label="Anchor link for: glyphicons glyphs" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>普通用户</h3>
                <div class="bs-callout bs-callout-info">
                <p>普通用户无需登录，但需要注意的是，非在公司拥有域账号的电脑，无法进入本系统。</p>
                </div>

                <h3 id="permission-admin"><a class="anchorjs-link " href="#permission-admin" aria-label="Anchor link for: glyphicons how to use" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>管理员登录</h3>
                <p>管理员是指拥有相应操作权限的用户，例如浏览、导出、上传、修改等的权限</p>
                <p>由IE工程师指定管理员之后，即可通过页面右上角的登录按钮输入账号密码进行管理员登录。</p>
                <p>账号默认设置密码为：<code>123456</code> ，请尽快登录修改密码。</p>
                <div class="bs-callout bs-callout-danger" >
                    <h4>超级管理员</h4>
                    <p>人员：IE工程师以上人员</p>
                    <p>权限：查看、修改、删除、添加、批量导入和导出数据、权限设定、指定部门资产管理员、各选项状态（修改、删除、添加）等全部权限</p>
                </div>
                <div class="bs-callout bs-callout-danger" >
                    <h4>车间管理员</h4>
                    <p>人员: 各部门或工场指定设备管理人员，（此人员及权限由IE资产管理员指定）</p>
                    <p>权限: 查看、发起资产转移</p>
                </div>

                <h3 id="permission-apply"><a class="anchorjs-link " href="#permission-apply" aria-label="Anchor link for: glyphicons examples" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>获取不同管理权限</h3>
                <div class="bs-callout bs-callout-info">
                    <p>获取不同管理权限，请获得部门经理以上人士许可，已邮件形式知会IE资产管理，由IE超级管理员根据其需求设置。</p>
                </div>

                <h3 id="permission-select"><a class="anchorjs-link " href="#permission-select" aria-label="Anchor link for: glyphicons examples" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>管理下拉菜单</h3>
                <div class="bs-callout bs-callout-info">
                    <h4>修改的下拉菜单对应在数据录入页面。</h4>
                    <p>注意：每次修改完毕，都需要点击保存编辑。唯有删除例外！</p>
                    <img  alt="加载图片失败..."  src="../img/help/permission-select-add.gif" >
                </div>
            </div>


        </div>

        <div class="col-md-3" role="complementary">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
                <ul class="nav bs-docs-sidenav">

                    <li class="">
                        <a href="#data">数据浏览</a>
                        <ul class="nav">
                            <li class=""><a href="#data-page">数据页面</a></li>
                            <li class=""><a href="#data-search">搜索功能</a></li>
                            <li class=""><a href="#data-baofei">转售/报废</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#data-operation">数据操作</a>
                        <ul class="nav">
                            <li class=""><a href="#data-insert">数据录入</a></li>
                            <li class=""><a href="#data-modify">数据修改</a></li>
                            <li class=""><a href="#data-import">导入Excel数据</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#permission-normal">问题帮助</a>
                        <ul class="nav">
                            <li class=""><a href="#permission-normal">普通用户需要登录吗?</a></li>
                            <li class=""><a href="#permission-admin">管理员登录</a></li>
                            <li class=""><a href="#permission-apply">获取不同管理权限</a></li>
                            <li class=""><a href="#permission-select">管理下拉菜单</a></li>
                        </ul>
                    </li>

                </ul>
                <a class="back-to-top" href="#top">
                    返回顶部
                </a>
            </nav>
        </div>

    </div>
</div>

</body>
<script src="../js/jquery-3.4.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/toastr.min.js"></script>
<script src="../js/role/role.js"></script>
<script src="../js/help/docs.min.js"></script>
<script th:inline="javascript" type="text/javascript">

    var permission = null
    $(document).ready(function () {
        //添加导航栏选中样式
        $("#help").addClass("active")
        //从session获取permission
        permission = [[${session.permission}]]
    })


</script>

</html>