<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>IT资产管理系统</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-table.css" rel="stylesheet">
    <link href="../css/bootstrap-duallistbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/toastr.min.css">
    <link rel="stylesheet" href="../css/help/doc.min.css">
    <link rel="stylesheet" href="../css/help/help.css">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class=" bs-docs-nav">
<div th:include="common/logo :: logo"></div>
</div>
<div class="container bs-docs-container">

    <div class="row">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                <h1 id="a" class="page-header"><a class="anchorjs-link " href="#a" aria-label="Anchor link for: dropdowns" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>功能介绍</h1>

                <p class="lead">对系统的所有的功能进行描述和解释。</p>

                <h2 id="data"><a class="anchorjs-link " href="#data" aria-label="Anchor link for: dropdowns example" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>数据浏览</h2>

                <div class="bs-callout bs-callout-info">
                    <h3 id="data-page"><a class="anchorjs-link " href="#data-page" aria-label="Anchor link for: dropdowns example" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>数据页面</h3>
                    <img  alt="加载图片失败..."  src="../img/help/data-page1.png" >
                    <p>在数据页面中，主体由一个表组成。在页面上方提供搜索入口，下方提供页码信息，在表格右上方提供三个快捷按钮（分别是离线刷新，表格全屏，筛选显示的字段）</p>

                    <h3 id="data-search"><a class="anchorjs-link " href="#data-search" aria-label="Anchor link for: dropdowns example" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>搜索功能</h3>
                    <h4>常规搜索</h4>
                    <img  alt="加载图片失败..." src="../img/help/search1.gif" >
                    <p>如同演示的一样，您可以搜索一个或多个，在搜索多个时仅仅需要使用<code>回车键</code>来确认您即将搜索的内容。当然，仅搜索一个结果无需按下回车，直接点击搜索即可</p>
                    <p>需要注意的是，默认搜索的是<code>设备号</code>，下面就会讲解如何搜索其他类型字段。</p>
                    <h4>其他字段搜索</h4>
                    <p>很多字段都和常规搜索类似，这里只列举搜索资产编号</p>
                    <img  alt="加载图片失败..." src="../img/help/search2.gif" >
                </div>
                <div class="try-online"><a class="btn-try btn btn-success btn-lg disabled">大沙发沙发沙发沙发是打发斯蒂芬</a></div>
                <p>与之类似的有：搜索<code>使用人工号</code>，<code>位置</code>，<code>责任人</code></p>

                <h2 id="dropdowns-alignment"><a class="anchorjs-link " href="#dropdowns-alignment" aria-label="Anchor link for: dropdowns alignment" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>对齐</h2>
                <p>B默认情况下，下拉菜单自动沿着父元素的上沿和左侧被定位为 100% 宽度。 为 <code>.dropdown-menu</code> 添加 <code>.dropdown-menu-right</code> 类可以让菜单右对齐。</p>
                <div class="bs-callout bs-callout-warning" id="callout-dropdown-positioning">
                    <h4>可能需要额外的定位May require additional positioning</h4>
                    <p>在正常的文档流中，通过 CSS 为下拉菜单进行定位。这就意味着下拉菜单可能会由于设置了 <code>overflow</code> 属性的父元素而被部分遮挡或超出视口（viewport）的显示范围。如果出现这种问题，请自行解决。</p>
                </div>
                <div class="bs-callout bs-callout-warning" id="callout-dropdown-pull-right">
                    <h4>不建议使用 <code>.pull-right</code></h4>
                    <p>从 v3.1.0 版本开始，我们不再建议对下拉菜单使用 <code>.pull-right</code> 类。如需将菜单右对齐，请使用 <code>.dropdown-menu-right</code> 类。导航条中如需添加右对齐的导航（nav）组件，请使用 <code>.pull-right</code> 的 mixin 版本，可以自动对齐菜单。如需左对齐，请使用 <code>.dropdown-menu-left</code> 类。</p>
                </div>
                <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"dropdown-menu dropdown-menu-right"</span> <span class="na">aria-labelledby=</span><span class="s">"dLabel"</span><span class="nt">&gt;</span>
  ...
<span class="nt">&lt;/ul&gt;</span></code></pre></figure>

                <h2 id="dropdowns-headers"><a class="anchorjs-link " href="#dropdowns-headers" aria-label="Anchor link for: dropdowns headers" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>标题</h2>
                <p>在任何下拉菜单中均可通过添加标题来标明一组动作。</p>
                <div class="bs-example">
                    <div class="dropdown clearfix">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div><!-- /example -->
                <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">aria-labelledby=</span><span class="s">"dropdownMenu3"</span><span class="nt">&gt;</span>
  ...
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"dropdown-header"</span><span class="nt">&gt;</span>Dropdown header<span class="nt">&lt;/li&gt;</span>
  ...
<span class="nt">&lt;/ul&gt;</span></code></pre></figure>
                <div class="try-online"><a class="btn-try btn btn-success btn-lg disabled"></a></div>

                <h2 id="dropdowns-divider"><a class="anchorjs-link " href="#dropdowns-divider" aria-label="Anchor link for: dropdowns divider" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>分割线</h2>
                <p>为下拉菜单添加一条分割线，用于将多个链接分组。</p>
                <div class="bs-example">
                    <div class="dropdown clearfix">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div><!-- /example -->
                <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">aria-labelledby=</span><span class="s">"dropdownMenuDivider"</span><span class="nt">&gt;</span>
  ...
  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"separator"</span> <span class="na">class=</span><span class="s">"divider"</span><span class="nt">&gt;&lt;/li&gt;</span>
  ...
<span class="nt">&lt;/ul&gt;</span></code></pre></figure>

                <h2 id="dropdowns-disabled"><a class="anchorjs-link " href="#dropdowns-disabled" aria-label="Anchor link for: dropdowns disabled" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>禁用的菜单项</h2>
                <p>为下拉菜单中的 <code>&lt;li&gt;</code> 元素添加 <code>.disabled</code> 类，从而禁用相应的菜单项。</p>
                <div class="bs-example">
                    <div class="dropdown clearfix">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                            <li><a href="#">Regular link</a></li>
                            <li class="disabled"><a href="#">Disabled link</a></li>
                            <li><a href="#">Another link</a></li>
                        </ul>
                    </div>
                </div><!-- /example -->
                <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">aria-labelledby=</span><span class="s">"dropdownMenu4"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Regular link<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"disabled"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Disabled link<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Another link<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span></code></pre></figure>
                <div class="try-online"><a class="btn-try btn btn-success btn-lg disabled"></a></div>
            </div>

            <div class="bs-docs-section">
                <h1 id="permission" class="page-header"><a class="anchorjs-link " href="#permission" aria-label="Anchor link for: glyphicons" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>权限相关</h1>

                <h2 id="permission-normal"><a class="anchorjs-link " href="#permission-normal" aria-label="Anchor link for: glyphicons glyphs" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>普通用户</h2>
                <div class="bs-callout bs-callout-info">
                <p>普通用户无需登录，但需要注意的是，非在公司拥有域账号的电脑，无法进入本系统。</p>
                </div>

                <h2 id="permission-admin"><a class="anchorjs-link " href="#permission-admin" aria-label="Anchor link for: glyphicons how to use" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>管理员登录</h2>
                <p>管理员是指拥有相应操作权限的用户，例如浏览、导出、上传、修改等的权限</p>
                <p>由IE工程师指定管理员之后，即可通过页面右上角的登录按钮输入账号密码进行管理员登录。</p>
                <p>账号默认设置密码为：<code>123456</code> ，请尽快登录修改密码。</p>
                <div class="bs-callout bs-callout-danger" >
                    <h4>超级管理员</h4>
                    <p>人员：IE工程师以上人员</p>
                    <p>权限：查看、修改、删除、添加、批量导入和导出数据、权限设定、指定部门资产管理员、各选项状态（修改、删除、添加）等全部权限</p>
                </div>
                <div class="bs-callout bs-callout-danger" >
                    <h4>车间管理员</h4>
                    <p>人员: 各部门或工场指定设备管理人员，（此人员及权限由IE资产管理员指定）</p>
                    <p>权限: 查看、发起资产转移</p>
                </div>

                <h2 id="permission-apply"><a class="anchorjs-link " href="#permission-apply" aria-label="Anchor link for: glyphicons examples" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>获取不同管理权限</h2>
                <div class="bs-callout bs-callout-info">
                    <p>获取不同管理权限，请获得部门经理以上人士许可，已邮件形式知会IE资产管理，由IE超级管理员根据其需求设置。</p>
                </div>
            </div>


        </div>

        <div class="col-md-3" role="complementary">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
                <ul class="nav bs-docs-sidenav">

                    <li class="">
                        <a href="#data">数据浏览</a>
                        <ul class="nav">
                            <li class=""><a href="#data-page">数据页面</a></li>
                            <li class=""><a href="#data-search">搜索功能</a></li>
                            <li class=""><a href="#data-headers">编辑功能</a></li>
                            <li class=""><a href="#dropdowns-divider">转售/报废</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#permission">问题帮助</a>
                        <ul class="nav">
                            <li class=""><a href="#permission-normal">普通用户需要登录吗?</a></li>
                            <li class=""><a href="#permission-admin">管理员登录</a></li>
                            <li class=""><a href="#permission-apply">获取不同管理权限</a></li>
                        </ul>
                    </li>

                </ul>
                <a class="back-to-top" href="#top">
                    返回顶部
                </a>
            </nav>
        </div>

    </div>
</div>

</body>
<script src="../js/jquery-3.4.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/toastr.min.js"></script>
<script src="../js/role/role.js"></script>
<script src="../js/help/docs.min.js"></script>
<script th:inline="javascript" type="text/javascript">

    var permission = null
    $(document).ready(function () {
        //添加导航栏选中样式
        $("#help").addClass("active")
        //从session获取permission
        permission = [[${session.permission}]]
    })


</script>

</html>