<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{../css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="logo">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/itams/datas">
                    <img class="img-top" th:src="@{../img/logo.png}"src="../img/logo.png" alt="Liwinon 锂威" style="height: 120%;">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul  class="nav navbar-nav">
<!--                <li id="index"><a href="/itams/search">首 页<span class="sr-only">(current)</span></a></li>-->
                    <li id="modify"><a href="/itams/datas">数据浏览</a></li>
                    <li th:if="${session.permission=='sadmin'}" id="operate"><a href="/itams/operate">数据录入</a></li>
<!--                    <li id="show"><a href="/itams/showData">数据图表</a></li>-->
                    <li th:if="${session.permission=='sadmin'}" id="permission" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">权限系统 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/itams/newrole">权限设置</a></li>
                            <li><a href="/itams/role">权限查看</a></li>
                            <li><a href="/itams/select">管理下拉菜单</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他系统 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://192.168.6.163/ekp/km/review/km_review_main/kmReviewMain.do?method=add&fdTemplateId=16416b486c61a8db9d6e927402495999" target="_blank">转售\报废</a></li>
                            <li><a href="http://192.168.6.163/ekp/login.jsp;jsessionid=30762723C43312B490E9E0CC5C32EC20" target="_blank">OA(内网入口)</a></li>
                            <li><a href="http://ekp.sunwoda.com/ekp/login.jsp" target="_blank">OA(外网入口)</a></li>
<!--                            <li role="separator" class="divider"></li>-->
<!--                            <li><a href="#">Separated link</a></li>-->
                        </ul>
                    </li>
                    <li id="help"><a href="/itams/help">帮助</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                	 <li class="dropdown">
                    	<a id="itemid"></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">导出数据<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/itams/download/AssetsData">导出全部资产数据</a></li>
<!--                            <li><a href="/itams/download/ITData" class="btn " type="button" style="width: auto;">导出IT资产数据</a></li>-->
                        </ul>
                    </li>
                    <li th:if="${session.userid == null || session.userid ==''}">
                    <a  href="/itams/login" class="dropdown-toggle" data-toggle="" role="button" aria-haspopup="" aria-expanded="false">
                    登录</a>
                    </li>
                    <li th:if="${session.userid!=null}" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${session.username}">用户</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"   onclick="getMyRole()" type="button" data-toggle="modal"data-target="#queryRole">查看权限</a></li>
                            <!--暂时禁止申请的接口-->
                            <!--                            <li><a href="/itams/user">申请临时权限</a></li>-->
                            <li role="separator" class="divider"></li>
                            <li><a href="/itams/logout">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- Modal copy -->
    <div class="modal fade" id="queryRole" tabindex="-1" role="dialog" aria-labelledby="update">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 >您好: <span th:text="${session.username}"></span></h4>
                </div>
                <div class="modal-body">
                    <h5>您具有以下权限</h5>
                    <p th:if="${session.userid == null || session.userid ==''}">浏览数据</p>
                    <p th:if="${session.userid!=null}"  id="content" style="text-align: center; font-size: 20px">

                    </p>
                </div>
<!--                <div class="modal-footer">-->
<!--                    -->
<!--                </div>-->
            </div>
        </div>
    </div>
<script type="text/javascript">
</script>
    <script>
    window.onload=function()//用window的onload事件，窗体加载完毕的时候
    {
    	getad();
    }
function Adduser(data){
	if(data.status){
		console.log(data.status+"------------"+data.resultss);
	}else{
		 window.location.href="/itams/Ineligible";
	 }
}
function  getad(){
	
        $.ajax({
            type:"get",
            url:"http://iis-server.liwinon.com:9090/api/Add/GetClientUser",
            //url : "http://iis-server.liwinon.com:9090/api/Add/GetClientUser",
		    //url : "http://hit-00567-n.liwinon.com:8096/api/Add/GetClientUser",
            dataType:'jsonp',
            jsonp:"callback",//在一个jsonp请求中重写回调函数的名字
            jsonpCallback:"Adduser",//为jsonp请求指定一个回调函数名   
            //后台接口返回格式：return   Adduser("("+json+")")   要用括号把json数据包含住
            success:function(data) {
            	console.log(data.status+"------------"+data.resultss);
            	arr = data.resultss.split("\\");  //截取文件后缀名
            	typeaa = arr[arr.length - 1];//后去文件后缀名为那种
    	    	console.log(typeaa);
    	    	 $("#itemid").html("当前访问员工 :"+ typeaa);
            },
            error: function(xhr, textStatus, errorThrown){
            	layer.msg("发生未知错误");
    		}
        });
   };
        function getMyRole(){  //获取自己的权限
        	 getad();
            $.ajax({
                url: "/itams/role/getMyRole",
                success:function (res) {
                    console.log(res)
                    $("#content").html(res);
                }
            })
        }
    </script>
</div>



</body>
<script th:src="@{../js/jquery-3.4.0.min.js}" src="../js/jquery-3.4.0.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script th:src="@{../js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>

</html>